* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(224, 216, 216)
}

.menu {
    position: relative;
    max-width: 755px;
    width: 100%;
    background: none;
    margin-left: auto;
    margin-right: auto;

    top: 30px;
    }

.menu h1 a{
    color: rgb(229, 224, 224);
}

.menu-hewan {
    z-index: 999;
    position: fixed;
    background-color: rgb(100, 101, 117);

    padding : 30px;
    border-radius: 10px;
}

.container {
    position: relative;
    background: none;
    margin-left: auto;
    margin-right: auto;

    max-width: 800px;
    width: 100%;
}

.container div{
    margin-bottom: 70px;
    margin-top: 50px;

    padding: 60px;
    border-radius: 10px;

    padding: 60px;
}

.container p {
    color: white;
    font-size: 20px;

    background-color: rgba(127, 121, 121, 0.614);
    padding: 20px;

    border-radius: 20px;
}

.container img{
    max-width: 800px;
    width: 100%;
    border-radius: 10px;
    border: 5px dashed rgba(62, 59, 59, 0.614);
}

.container h1{
    color: rgb(47, 44, 42);
    font-size: 50px;
}

#gambar-singa {
    background-color: rgb(236, 219, 136);
    border: 8px inset  rgb(178, 165, 103);
}

#gambar-harimau {
    background-color: rgb(234, 183, 53);
    border: 8px outset rgb(153, 120, 35);
}

#gambar-paus {
    background-color: rgb(29, 220, 197);
    border: 8px ridge rgb(25, 147, 132);
}

#gambar-kucing {
    background-color: rgb(227, 164, 92);
    border: 8px groove rgb(129, 93, 52);
}

#gambar-anjing {
    background-color: rgb(212, 216, 133);
    border: 8px dotted rgb(133, 135, 66);
}

.ads-1 {
    right: 50px;
    bottom: 50px;
    position: fixed;
}

.ads-2 {
    left: 50px;
    bottom: 50px;
    position: fixed;
}

.ads img {
    max-width: 300px;
    width: 100%;

    border-radius: 20px;
}